%header.header-hero
  .hero-body
    .hero-text
      %h1.name Anthony Cantuta
      %h1.profession Full-stack Web Developer
      %p.slogan amante de desarrollo de aplicaciones.
.container
  .row
    .col-md-7.about-me
      %h2 Sobre mi
      %p Me llamo Anthony Cantuta, soy desarrollador web. Me considero curioso y apasionado a la tecnología. Actualmente me siento atraído de la blockchain y tangle como divisa electrónica.

      %p Contáctame al siguiente correo: anthony@cantuta.org
      
      %ul.links
        %li
          %a{href: 'https://github.com/acantuta', target: '_blank'}
            %i.fa.fa-github          
        %li
          %a{href: 'https://twitter.com/cantuta', target: '_blank'}
            %i.fa.fa-twitter
          

    .col-md-5.skills
      %h2 Habilidades
      %ul
        %li Git
        %li Ruby On Rails
        %li NodeJS
        %li HTML5
        %li MySQL
        %li PostgreSQL
        %li SQL Server
        %li MongoDB
        %li MS
        %li Redis
        %li Javascript
        %li AngularJS
        %li Jquery
        %li Linux        
        %li Software Development
        %li Heroku
        %li Amazon Web Services
        %li APIs
%footer
  © 2015 Anthony Cantuta. All rights reserved.
